div#toolbar {
    position: absolute;
    top: 0px;
    left: 0px;
    width: 30px;
    height: 100%;
    background-color: #30372a;
}

svg#svgimage {
    position: absolute;
    top: 0px;
    left: 30px;
}

div#manage_tools_wrapper {
    display: none;
}

input[type=text] {
    width: 100%;
}
