div#toolbar {
    position: absolute;
    top: 0px;
    left: 0px;
    width: 30px;
    height: 100%;
    background-color: #30372a;
}

svg#svgimage {
    position: absolute;
    top: 0px;
    left: 30px;
}

div#add_tool {
    display: none;
}

input[type=text] {
    width: 100%;
}

div.tool {
    cursor: pointer;
}

div.tool.selected {
    background-color: gray;
}

div.tool img:hover {
    -webkit-transform: scale(1.2);
    -webkit-transition: all 400;
}

div.tool img {
    -webkit-transition: all 400;
}
